<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Text Encryption App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        
        <style>
          body{
            display:flex; flex-direction:column; justify-content:center;
            min-height:100vh;
            background-color: powderblue;
            position: relative;
            margin: auto;
            left: 100px;
          }    
        </style>
      
    </head>

    <body>
      <div class="link">
        <a href="/dekripsi">Decryption</a>       
      </div>
     
      <div class="enc_content">
          <h2>AES Encryption</h2>
          <form method="POST">
              <div class="form-group">
                <label for="">Masukkan plaintext untuk dienkripsi</label><br>
                <textarea name="plaintext" id="" cols="30" rows="10" placeholder="Masukkan teks untuk dienkripsi" required></textarea>
              </div>
              <div>
                  <label for="">Masukkan key</label>
                  <input name="key" id="" cols="30" rows="10" placeholder="key" required>
                  <input type="submit" value="Enkripsi">
              </div>
            </form>
            <div>
            </div>
            <div>
              {% if submit %}
                <h3>Hasil</h3>
                <textarea name="output_cipher" id="" cols="30" rows="10" placeholder="Hasil Enkripsi" required>{{ciphertext}}</textarea>
              {% endif %}                
            </div>
          </form>
      </div>
    </body>
</html>